.proposal {
  display: flex;
  border: 1px solid black;
  width: 90vw;
  height: 1850px;
  background-color: #242029;
  align-items: center;
  flex-direction: column;
}

.proposal h2 {
  width: 500px;
  font-size: 40px;
  color: #F3F6EF;
  text-align: center;
}

.tags {
  width: 90%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.poscards {
  width: 90vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poscards h2 {
  width: 500px;
  font-size: 40px;
  font-weight: 800;
  color: #2F2A37;
  text-align: center;
}

.poscards p {
  width: 900px;
  font-size: 24px;
  font-weight: 400;
  color: #6E6C72;
  text-align: center;
}