.proposal {
  display: flex;
  border: 1px solid black;
  width: 90vw;
  height: 1850px;
  background-color: #242029;
  align-items: center;
  flex-direction: column;
}

.proposal h2 {
  width: 500px;
  font-size: 40px;
  color: #F3F6EF;
  text-align: center;
}

.tags {
  width: 90%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.poscards {
  width: 90vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #6BFFCA, silver,#9E00FF);
}

.poscards h2 {
  width: 550px;
  font-size: 40px;
  font-weight: 800;
  color: #2F2A37;
  text-align: center;
}

.poscards p {
  width: 900px;
  font-size: 24px;
  font-weight: 400;
  color: #6E6C72;
  text-align: center;
}

.poscards__container {
  width: 95%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.btnTryFree {
  display: block;
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  color: #2F2A37;
  width: 250px;
  height: 60px;
  border: 0px;
  border-radius: 40px;
  background: radial-gradient( #00FF47, #00eed2);
}