.proposal {
  display: flex;
  border: 1px solid black;
  width: 90vw;
  height: 1850px;
  background-color: #242029;
  align-items: center;
  flex-direction: column;
}

.proposal h2 {
  width: 500px;
  font-size: 40px;
  color: #F3F6EF;
  text-align: center;
}

.tags {
  width: 90%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tags__item {
  display: flex;
  height: 20px;
  border-radius: 84px;
  margin: 10px;
  padding: 15px 20px;
  background: linear-gradient(#FFFFFF, #F3F6EF00);
  font-size: 24px;
  font-weight: 500;
  color: #2F2A37;
  align-items: center;
}

.tags__item img {
  margin-left: 15px;
}